@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Стилизация скроллбара */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Ширина скроллбара */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Цвет фона скроллбара */
  border-radius: 10px; /* Закругление фона */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff; /* Цвет ползунка скроллбара */
  border-radius: 10px; /* Закругление ползунка */
  border: 1px solid #ccc; /* Граница вокруг ползунка */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0; /* Цвет ползунка при наведении */
}
